<header>
    <nav class="flex">
        <ul class="flex">
            <li><a href=" /flights" class="flex">All Flights</a></li>
            <li><a href="/flights/new" class="flex">Add Flight</a></li>
        </ul>
    </nav>
</header>