<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs', {title:'All Flights'}) %>
    <%- include('../layout/navbar.ejs', {title:'All Flights'}) %>

        <body>
            <main class="container">

            </main>
        </body>

</html>